body {
    padding-left: 20em;
    font-family: Impact, Charcoal, sans-serif,
    Times, serif;
    color: lightyellow;
    background-image: url(https://assets.rpgsite.net/images/images/000/048/921/original/WoWScrnShot_091616_122203.jpg); }
ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
h1 {
    font-family: Impact, Charcoal, sans-serif
}
ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
ul.navbar a {
    text-decoration: none }
a:link {
    color: yellow }
a:visited {
    color: mediumpurple }
address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }